:root {
  --iris-brand-color: #4d5ae5;
    --ocean-pressed-color: #404bbf;
    --navyblue-dark-color: #2e2f42;
    --green-success-color: #31d0aa;
    --slate-text-color: #434455;
    --lightslate-subtle-color: #8e8f99;
    --cornflower-accent-color: #e7e9fc;
    --cloud-light-color: #f4f4fd;
    --navyblue-modal-color: rgba(46, 47, 66, 0.4);
    --grey-hero-color: rgba(46, 47, 66, 0.7);
    --main-color: #fff;
    --font-weight-caption: 700;
    --font-size-caption: 36px;
    --font-weight-title: 500;
    --font-size-title: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
  background-color: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* --------HEADER-------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navyblue-dark-color);
}

.logo-web {
  color: var(--iris-brand-color);
}

.header-link {
  font-weight: var(--font-weight-title);
  color: var(--navyblue-dark-color);
}

.header-link :hover,
.header-link :focus {
  color: var(--ocean-pressed-color);
}

address-link {
  font-style: normal
  color; var(--slate-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-pressed-color);
}

/* ---hero--- */

.hero {
  font-weight: var(--font-weight-caption);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--main-color);
  background-color: var(--navyblue-dark-color);
}

.hero-btn,
.btn-filter {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: var(--font-weight-title);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--iris-brand-color);
}

.hero-btn:hover,
.btn-filter:hover {
  background-color: var(--ocean-pressed-color);
}
/* ----------- */

.features-title,
.team-title,
.example-title {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  line-height: 1.2;
  color: var(--navyblue-dark-color);
}

.work-caption,
.team-caption {
  font-weight: var(--font-weight-caption);
  font-size: var(--font-size-caption);
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--navyblue-dark-color);
}

.team-card {
  background-color: var(--main-color);
}

.team {
  background-color: var(--cloud-light-color);
}

/* ------footer------ */

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-light-color);
}

.footer-text {
  color: var(--cornflower-accent-color);
}

.footer {
  background:var(--navyblue-dark-color);
}